Repository materialsproject/maggma, pull requests merged in 2023-09, with the labels that each got.

#841 CI: use OS-specific requirements in testing
  .github/workflows/release.yml
  .github/workflows/testing.yml
  README.md
  docs/index.md
  requirements-optional.txt
  requirements.txt
Labels: github_actions

#855 migrate dependencies to setup.py and update CI config
  .github/workflows/release.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  mkdocs.yml
  pyproject.toml
  requirements-docs.txt
  requirements-optional.txt
  requirements-testing.txt
  requirements.txt
  requirements/macos-latest_py3.10.txt
  requirements/macos-latest_py3.10_extras.txt
  requirements/macos-latest_py3.11.txt
  requirements/macos-latest_py3.11_extras.txt
  requirements/macos-latest_py3.8.txt
  requirements/macos-latest_py3.8_extras.txt
  requirements/macos-latest_py3.9.txt
  requirements/macos-latest_py3.9_extras.txt
  requirements/ubuntu-latest_py3.10.txt
  requirements/ubuntu-latest_py3.10_extras.txt
  requirements/ubuntu-latest_py3.11.txt
  requirements/ubuntu-latest_py3.11_extras.txt
  requirements/ubuntu-latest_py3.8.txt
  requirements/ubuntu-latest_py3.8_extras.txt
  requirements/ubuntu-latest_py3.9.txt
  requirements/ubuntu-latest_py3.9_extras.txt
  setup.py
  tests/api/test_api.py
  tests/stores/test_gridfs.py
Labels: release:minor

#861 CI: add changelog template and prevent duplicate GH Action releases
  .github/release.yml
  .github/workflows/post-process.yml
Labels: pkg

#865 Pydantic 2.0
  setup.py
  src/maggma/api/query_operator/dynamic.py
  src/maggma/api/utils.py
  src/maggma/cli/settings.py
  src/maggma/utils.py
  tests/api/test_api.py
  tests/api/test_utils.py
Labels: release:minor
